<div class="container-fluid  category__alimentacion">
    <div class="container_centrado">
        <div class="row">
            <div class="col-12 category__texto">
                <h2>Alimentación</h2>
                <h3 class="category__subtitulo">La base de la salud es una buena alimentación</h3>
            </div>
        </div>
    </div>
</div>