<div class="container-fluid navbar__principal">
    <div class="container__centrado">
        <div class="row navbar__container row--sin-margin">
            <div class="col-12 col--no-padding">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand navbar__home-link" href="/"><img class="navbar__logo" src="/images/logo.jpg"
                            alt="THE YORKSHIRER"><span class="navbar__logo-texto"> THE
                            YORKSHIRER</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <!-- links del navbar -->
                    <div class="collapse navbar-collapse navbar__container-lista" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto navbar__lista">
                            <li class="nav-item">
                                <a class="nav-link navbar__link" href="/products/category/alimentacion">ALIMENTACIÓN</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar__link" href="/products/category/aseo">ASEO</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar__link" href="/products/category/accesorios">ACCESORIOS</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link navbar__link" href="/products/category/camas">CAMAS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar__link" href="#"><img class="navbar__iconos"
                                        src="/images/user-icon.png" alt="iconoUser"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link navbar__link" href="#"><img class="navbar__iconos"
                                        src="/images/shopping-bag.png" alt="carrito"></a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>