<!-- importo el header del html que lo tengo en partials -->
<% include partials/header %>

<!-- importo el navbar que lo tengo en la carpeta partials -->
<% include partials/navbar %>


<!-- formulario de registro de un producto -->
<div class="container-fluid addproduct">
    <div class="container__centrado">
        <div class="row addproduct__container">
            <div class="addproduct__col">
                <h2 class="addproduct__titulo">Añade Productos</h2>
                <form class="addproduct__principal" action="/products/add" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="text" class="form-control" name="id_user" placeholder="id_user">

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="name_product" placeholder="name_product">

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="brand" placeholder="brand">

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="category" placeholder="category">

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="description" placeholder="description">

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="price" placeholder="price">

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="stock" placeholder="stock">

                    </div>
                    <div class="form-group">
                        <input type="file" name="myFile" />
                    </div>
                    <button type="submit" class="btn addproduct__button">AÑADIR</button>
                </form>
            </div>
        </div>

    </div>
</div>

<!-- importo el final del html que lo tengo en partials -->
<% include partials/bottom %>