<!-- importo el header del html que lo tengo en partials -->
<% include partials/header %>

<!-- importo el navbar que lo tengo en la carpeta partials -->
<% include partials/navbar %>


<!-- formulario de registro de un usuario -->
<div class="container_fluid formulario">
    <div class="container__centrado">
        <div class="row formulario__container">
            <div class="formulario__perritos col-md-6">
            </div>
            <div class="col-12 col-md-6">
                <h2 class="productos__titulo">Nuevo Registro</h2>
                <form class="formulario__principal" action="/users/add" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" name="name" placeholder="Nombre">

                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="lastname" placeholder="Apellidos">

                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="email">

                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="password">
                    </div>

                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" name="is_admin">
                        <label class="form-check-label" for="is_admin">Administrador</label>
                    </div>
                    <button type="submit" class="btn formulario__button">AÑADIR</button>
                </form>
            </div>
        </div>

    </div>
</div>


<!-- importo el final del html que lo tengo en partials -->
<% include partials/bottom %>